<!DOCTYPE html>
<html>
  <head>
    <title>TEST</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= allYearsJson %></h1>
    <!-- <p>Welcome to <%= allYearsJson %></p> -->
  </body>
</html>
